.sus-container{
    position: relative;
    width: 100vw;
    object-fit: contain;
    margin: 5% auto;

}
.sus-container WaterWave{
    height: 95vh;

}
.sus-container img{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
.sus-wrapper{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 45%;
    
}
.sus-wrapper p{
color: white;
text-align: left;
font-size: 1.5rem;
}
.sus-wrapper h1{
    color: white;
    font-size: 5rem;
    font-weight: bold;
    /* font-weight: 600;    */
}