.board-container{
    margin-top: 50px;
    height: 90vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(32,142,233,1) 41%, rgba(41,57,144,1) 100%);
    align-items: center;
    position: relative;
    justify-content: center;
}
.board-wrapper{
    width: fit-content;
}
.heading-bar-board{
    /* color: #fff; */
    
    align-items: center;
    width: 90%;
    justify-content: space-between;
    text-align: justify;
}
.board-heading{
    color: #fff;
}
.heading-bar-board .board-heading2{
    color: #fff;
    margin: 0 auto;

}
.heading-bar-board h1{
    font-weight: bold;
    font-size: 60px;
    margin: 0 auto;
    color: #fff;
}
.bob-text{
    color: #fff;
    width: 550px;
    font-size: 22px;
    text-align: left;
    margin: 30px 0 0 0;
}
.best-of-bajaj{
    width: 50%;
    height: 100%;
    /* margin: auto; */
}