.discover-sec{
    padding: 2% 0;
}
.containerd {
    position: relative;
    width: 60%; /* Adjust width as needed */
    height: 60vh; /* Adjust height as needed */
    margin: 5% auto;

}

.squared {
    position: absolute;
    width: 3.5vw; 
    height: 7vh;

    border-radius: 15%;
}
.imaged {
    position: absolute;
}

/* Position squares initially */
.top-left {
    top: 0;
    left: 0;
    background-color: #84baec; 
    
}
.top-lefta {
    top: 0;
    left: 7%;
    background-color: #0f68c9; 
}
.top-leftaa {
    top: 20%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 90%;
}
.top-leftaa2 {
    top: 58%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 90%;
}
.top-leftaa3 {
    position: absolute;
    top: 0%; /* Move the element 50% down from the top */
    right: 30%; /* Move the element 50% from the left */
    transform: translate(-50%, -50%); /* Center the element */
    width: 40%; /* Adjust the width as needed */
}

.top-rightaa2 {
    top: 20%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: -10%;
}
.top-rightaa{
    top: 45%;
    width: 30%;
    right: -20%;

}

.top-right {
    top: 0;
    background-color: #b8daf4; 

    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
    width: 5vw;
    height: 9vh;

}

/* Style for hovered state */

.btn-posnawr {
    text-align: center;
    text-decoration: none;
    /* line-height: 80px; */
    color: #0f68c9;
    position: relative;
    display: block;
    overflow: hidden;
    width: 20vw;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 1.5vh;
    /* height: 8vh; */
    /* max-width: 250px; */
    border-radius: 50px;
    margin: 1rem auto;
    /* text-transform: uppercase; */
    border: 1px solid #0f68c9;
  }
  .btn-posnawr span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: #0f68c9;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
  .btn-posnawr:hover {
    color: #eee;
  }
  .btn-posnawr:hover span {
    width: 225%;
    height: 562.5px;
  }
  .btn-posnawr:active {
    background-color: #0f68c9;
  }
  


/* JOBS BUTTON CSS END */
