.discover-sec{
    padding: 2% 0;
}
.containerd {
    position: relative;
    width: 60%; /* Adjust width as needed */
    height: 60vh; /* Adjust height as needed */
    margin: 5% auto;
}

.squared {
    position: absolute;
    width: 3.5vw; 
    height: 7vh;
    border-radius: 15%;
    background-color: #3498db; /* Adjust background color of SVGs as needed */
}
.imaged {
    position: absolute;
}

/* Position squares initially */
.top-left {
    top: 0;
    left: 0;
}
.top-lefta {
    top: 0;
    left: 7%;
}
.top-leftaa {
    top: 20%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 90%;
}
.top-leftaa2 {
    top: 58%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 90%;
}
.top-leftaa3 {
    position: absolute;
    top: 0%; /* Move the element 50% down from the top */
    right: 30%; /* Move the element 50% from the left */
    transform: translate(-50%, -50%); /* Center the element */
    width: 40%; /* Adjust the width as needed */
}

.top-rightaa2 {
    top: 20%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 10%;
}
.top-rightaa{
    top: 45%;
    width: 30%;
    right: 10%;

}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
    width: 5vw;
    height: 9vh;
}

/* Style for hovered state */
.hovered {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%); /* Move the SVGs to the center */
}
