.navbar {
    position: relative;
    padding: 12px 0;
    height: 80px;
    z-index: 2;
    background-color: transparent;
}


.navbar img {
    /* width: 200px; */
    height: 60px;
}


.navbar .navbar-inner {
    padding: 0 5%;
    margin: 2% 0;

}

.navbar .navbar-inner ul {
    text-align: center;

}
.ul1{
    margin-left: 20%;
    width: 500px;

}

.navbar .navbar-inner ul li {
    /* width: 130px; */
    width: fit-content;
    height: 50px;
    margin: auto;
    line-height: 2.5;
    justify-content: center;
    transition: background-color 0.3s ease-in;
}

/* .navbar .navbar-inner ul li:hover {
    background-color: #0d68c9;
} */

/* .navbar .navbar-inner ul li:hover a {
    color: #fff;
} */

.navbar .navbar-inner ul li a:not(.btn2 a) {
    font-size: 0.8rem;
    color: #fff;
    letter-spacing: 0.1cqmin;
}
.navbar .navbar-inner .ul2 {
    /* font-size: 0.8rem;
    color: #fff;
    letter-spacing: 0.1cqmin; */
    /* border:  2px solid white; */
    width: 300px;
}


.visible {
    display: block !important;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.btn2{ 
    background-color: #fff;
    border-radius: 30px;   
    /* width: 180px; */
    padding: 0 20px;
}

.btn2 a{ 
    color: #0d68c9;
    font-size: 0.8rem;
    letter-spacing: 0.1cqmin;
}