.intro2 {
    margin: auto;
    /* border: 2px solid white; */
    text-align: left; /* Align text elements to the left */
    width: 90%;
    height: 90%;
    align-items: center;
}

ReactPlayer {
    margin: auto;
    border-radius: 20px;
}

.intro-wrapper h1 {
    color: #fff;
    line-height: 1;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px; /* Add some space below the heading */
}

.intro-wrapper p {
    width: 470px;
    text-align: justify;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 30px; /* Add some space below the paragraph */
}

.intro-container {
    width: 80%;
    margin: 50px auto;
}

.intro-wrapper {
    /* flex-direction: column; */
    width: 49%; 
    height: 350px;
    margin: auto;
    padding: 12px;
    box-shadow: rgba(13, 104, 201, 0.3) 0px 8px 24px;
    background-color: #0d68c9;
}

.intro2 a {
    border: 1px solid white;    
    background-color: #fff;
    font-size: 16px;
    color: #0d68c9;
    padding: 6px 40px;
    text-decoration: none;
    align-self: flex-start; /* Align to the start of the flex container */
}
